.hg/
.hgignore

*.sdf
*.vcxproj.user
*.VC.opendb
.vs

xcuserdata
*.xcworkspace

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Temp
UnityProject/UWP

NativeRenderingPlugin/PluginSource/build
RenderingPlugin/VisualStudio2015/Win32/
RenderingPlugin/VisualStudio2015/x64/
RenderingPlugin/RenderingPluginTest/x64/
UnityProject/Assets/Plugins/x86_64/LiveMaterial.dll
*.ipch
*.VC.db
*.TMP
