RenderingPlugin/VisualStudio2015/x64/Debug/
RenderingPlugin/VisualStudio2015/Win32/
RenderingPlugin/VisualStudio2015/RenderingPlugin.VC.VC.opendb
RenderingPlugin/VisualStudio2015/RenderingPlugin.VC.db
UnityProject/UnityProject.CSharp.Editor.csproj
UnityProject/UnityProject.CSharp.csproj
UnityProject/Temp/
RenderingPlugin/RenderingPluginTest/x64/Debug/Renderin.FB9F943A.tlog/CL.command.1.tlog
*.idb
RenderingPlugin/RenderingPluginTest/x64/
RenderingPlugin/VisualStudio2015/ipch/
RenderingPlugin/Xcode3/build/
xcuserdata/
*.TMP
enc_temp_folder/
RenderingPlugin/VisualStudio2015/x64/Release/
